.NavBar{
    width: 100%;
    padding: 1% 10% 1% 10%;
    background-color: #101B37;
    display: grid;
    column-gap: 10%;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 7vh;

}

.NavBar h3 {
    display: inline;
    font-size: 3vh;
    margin-top: 5%;
    margin-left: 15%;
}

.NavBar h3 a {
  color: white;
  text-decoration: none;
}

.NavBar h3 a:hover {
  color: #ff51a2;
}

.NavBar.logo{
    height: 100%;
    grid-column: 2/2;
}

.NavBar .logo img{
    height: 100%;
}


.NavBar .login{
    grid-column: 3/3;
}


.NavBar .login{
    background-color: #E41376;
    border-radius: 12px;
}
.NavBar .login:hover{
    background-color: #8a0d47;
}

.NavBar .login{
    color: white;
    text-decoration: inherit;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    animation: fadeIn 0.3s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
  
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  