
.accordion{
    --bs-accordion-btn-bg: #101B37;
    --bs-accordion-active-bg: #E41376;
    --bs-accordion-btn-color: #ffff;
    --bs-accordion-active-color: #ffff;
}

.accordion-button::after{
    filter: invert(100%);
}

.conteudoArc{
    margin: 3%;
    margin-top: 5%;
}

.conteudoArc img{
    width: 5%;
    margin-right: 5%;
}

.conteudoArc a{
    display: flex;
    text-decoration: none;
    color: black;
}
.conteudoArc p{
    margin: 0px;
}